<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM
		"http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %c{1} - %m%n"/>
		</layout>
	</appender>

	<appender name="AWRANK" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="/temp/logs/awrank.log"/>
		<param name="MaxBackupIndex" value="10"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p %c %M %L %m%n"/>
		</layout>
	</appender>

	<appender name="MODEL" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="/temp/logs/awrankModel.log"/>
		<param name="MaxBackupIndex" value="10"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p %c %M %L %m%n"/>
		</layout>
	</appender>

	<appender name="CONTROLLER" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="/temp/logs/awrankController.log"/>
		<param name="MaxBackupIndex" value="10"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p %c %M %L %m%n"/>
		</layout>
	</appender>

	<appender name="PAYMENT" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="/temp/logs/awrankPayment.log"/>
		<param name="MaxBackupIndex" value="10"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p %c %M %L %m%n"/>
		</layout>
	</appender>

	<logger name="com.awrank.web.model" additivity="true">
		<level value="debug"/>
		<appender-ref ref="MODEL"/>
	</logger>

	<logger name="com.awrank.web.backend" additivity="true">
		<level value="debug"/>
		<appender-ref ref="CONTROLLER"/>
	</logger>

	<logger name="com.awrank.web.backend.controller.payment.WebMoneyController" additivity="true">
		<level value="debug"/>
		<appender-ref ref="PAYMENT"/>
	</logger>
	<logger name="com.awrank.web.backend.controller.payment.TwoCheckOutController" additivity="true">
		<level value="debug"/>
		<appender-ref ref="PAYMENT"/>
	</logger>
	<logger name="com.awrank.web.model.service.impl.OrderServiceImpl" additivity="true">
		<level value="debug"/>
		<appender-ref ref="PAYMENT"/>
	</logger>

	<root>
		<!--<priority value ="error" />-->
		<priority value="debug"/>
		<appender-ref ref="console"/>
		<appender-ref ref="AWRANK"/>
	</root>

</log4j:configuration>