<div class="container">
    <div class="row">
        <div class="span12">
			 
  			<div name="alert-error"></div>
            <div name="alert-warning"></div>
            
            
            <form action="#" id="userform" onsubmit="fUpdateProfileSubmit();" class="well"  accept="application/json" enctype="application/json">
                <fieldset>
                    <legend lngt="PROFILE"></legend>
                   
					  <div id="user_details">loading...</div>
                </fieldset>
            </form>
            
        </div>
    </div>
    
    <script type="text/template" id="user-details">			
					<div class="input-prepend">
                        <span class="add-on"><i class="icon-user"></i></span>
                        <input type="text" id="firstName" class="span11" lngp="FIRST_NAME" value="<%= firstName %>"/>
                    </div>
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-user"></i></span>
                        <input type="text" id="lastName" class="span11" lngp="LAST_NAME" value="<%= lastName %>"/>
                    </div>
 					<div class="input-prepend">
                        <span class="add-on"><i class="icon-calendar"></i></span>
                        <input type="text" id="birthdayAsFormattedString" class="span11" lngp="PROFILE_FIELD_BIRTHDAY" value="<%= birthdayAsFormattedString %>"/>
                    </div>
                    
                     <div class="input-prepend">
                        <span class="add-on"><i class="icon-heart"></i></span>
                        <input type="language" id="language" class="span11" lngp="REGISTER_FIELD_LANGUAGE" value="<%= language %>"/>
                    </div>
                    <br>
                    <label lngt="WE_RECOMMEND_SECRET_QUESTION"></label>
                    <div class="row-fluid">
                        <div class="span6">
                            <select class="input-block-level" id="secretQuestion" value="<%= secretQuestion %>">
                                <option lngt=SECRET_QUESTION_FIRST_PET value="SECRET_QUESTION_FIRST_PET"></option>
                                <option lngt="SECRET_QUESTION_MOTHERS_MAIDEN_NAME" value="SECRET_QUESTION_MOTHERS_MAIDEN_NAME"></option>
                                <option lngt="SECRET_QUESTION_FAVOURITE_DISH" value="SECRET_QUESTION_FAVOURITE_DISH"></option>
                                <option lngt="SECRET_QUESTION_UNFORGETTABLE_EVENT" value="SECRET_QUESTION_UNFORGETTABLE_EVENT"></option>
                            </select>
                        </div>
                        <div class="span6">
                            <input type="text" class="input-block-level" lngp="INPUT_ANSWER_HERE" id="secretAnswer" value="<%= secretAnswer %>" />
                        </div>
                    </div>
                    <div class="row-fluid">
                        
                        <div class="span12">
                            <button class="btn btn-large btn-primary pull-right"
                                    type="submit"
                                    lngt="UPDATE"></button>
                        </div>
 </script>
 
    <script type="text/javascript" language="JavaScript">

		window.User = Backbone.Model.extend({
			url: 'rest/profile/userdata/get2/'
		});
		
		window.UserView = Backbone.View.extend({
		    el : $('#user_details'),
		    template : _.template($('#user-details').html()),
		    initialize : function() {
		        this.render();
		        this.model.on('change', this.render, this);
		    },
		    render : function(eventName) {
		        $(this.el).html(this.template(this.model.toJSON()));
		        return this;
		    }
		});
		
		var me = new User({
			firstName: "Test First Name",
			"lastName": "Test Last Name",
			birthdayAsFormattedString : "1980-05-22",
			language : "EN",
			secretQuestion: "SECRET_QUESTION_FIRST_PET",
			secretAnswer : "Vas'ka"
			
		});
		var meView = new UserView({
		    model : me
		});
		
		me.fetch({success: function (data) {
			
			if(data.result.toString() == "failure"){
				
				alertError(getMessage('ERROR'), getMessage(data.reason.toString()));
				return false;
			}
			else{
				me.render(data);
				setLanguage('EN');
				window.setLanguage('EN');
			}
			
		}});
    	
		 function fUpdateProfileSubmit() {
		       
		    	fIndexClearMessages("divProfile");
		    	 
		         var firstname = $('#firstName').val();
		         var lastname = $('#lastName').val();
		         var language = $('#language').val();
		         var answer = $('#secretAnswer').val();
		         var birthdayAsFormattedString = $('#birthdayAsFormattedString').val();
		         var questionDicCode = jQuery("#secretQuestion").prop("value");
		      
		         var iserrors = false;
		         
		         if(firstname.length < 3 || firstname.length < 3){
		        	 alertError(getMessage('ERROR'), getMessage('PROFILE_FIRST_LAST_NAMES_TOO_SHORT'));
		        	 iserrors = true;
		         }
		         
		    	if(iserrors == false) send_user_profile({firstName: firstname, lastName: lastname, language: language, answer: answer, questionDicCode: questionDicCode, birthdayAsFormattedString : birthdayAsFormattedString });
		    	
		    }
	</script>
</div>